body {
    .card.chatbot {
        width: calc(100% - 86px);
        height: calc(100vh - 62px);
        border: 1px solid $border;
        border-radius: 0;
        border-bottom: none;
        border-top: none;

        .card-header {
            border-bottom: 1px solid $border;
            padding: 1rem;
            height: 5rem;
        }

        .card-body {
            overflow: auto;
            padding-bottom: 62px;

            .ai-ans-wrapper {
                margin-bottom: 1rem;

                .bg-ans {
                    border: 1px solid $border;
                    border-radius: 0 8px 8px 8px;
                    background-color: $secondary;
                    padding: 1.5rem;
                }

                .bg-ans-gradient {
                    position: relative;
                    padding: 1.5rem;
                    margin-bottom: 0;

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 8px 0 8px 8px;
                        padding: 2px;
                        background: $secondary-gradient;
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                    }
                }

                .like-icon {
                    right: 12px;
                    bottom: -14px;
                    border: 1px solid $active;
                    border-radius: 50%;
                    background-color: $warning;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                    width: 32px;
                    height: 32px;
                    z-index: 1;
                    cursor: pointer;

                    &.active {
                        border: 1px solid $border;
                    }
                }

                .dislike-icon {
                    right: 54px;
                    bottom: -14px;
                    border: 1px solid $active;
                    border-radius: 50%;
                    background-color: $warning;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                    width: 32px;
                    height: 32px;
                    z-index: 1;
                    cursor: pointer;

                    &.active {
                        border: 1px solid $border;
                    }
                }
            }

            .user-ques-wrapper {
                justify-content: end;
                margin-bottom: 1rem;

                .user-ques {
                    justify-content: end;
                    text-align: end;

                    .bg-ques {
                        border: 1px solid $border;
                        border-radius: 8px 0 8px 8px;
                        background-color: $secondary;
                        padding: 1.5rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}