@font-face {
    font-family: 'Sensations';
    src: url('/assets/fonts/Sansation_Regular.ttf') format('truetype');
    /* Add additional src for other font formats if available */
    font-weight: normal;
    font-style: normal;
}