@import "./variables.scss";
@import "./bootstrap-custom-theme.scss";
@import "./fonts.scss";
@import "./icons.scss";
@import "./sidebar.scss";
@import "./chatbot.scss";


body {
    font-family: $font-sansation;
    background-color: $base;
    color: $white;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $primary;
    }

    ul {
        padding-left: 0;
        list-style-type: none;
    }

    div {
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: $light;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $secondary;
        }
    }

    .cursor {
        cursor: pointer;
    }

    a {
        color: inherit !important;
    }

    .user {
        border-radius: 50%;
        object-fit: cover;
    }
    .ai-ques-wrapper{
        margin-left: 1rem;
    }
}