// bootstrap-custom.scss
$primary: #117BCD; // CTA 
$secondary: #0A10274D; // Message BG //

$light: #FFFFFF80; // texts //
$dark: #D9D9D90D; // inputs // active chat (sidebar) // hover

$info: #1A2B4C; // tooltips / dropdown
$warning: #131A3A; // emojis BG

$base: #0A1027;
$border: #283865;
$active: #FBB040;
$primary-gradient: linear-gradient(90deg, #00DDFF 0%, #FF00D4 50%, #FBB040 100%); // btn gradient
$secondary-gradient: linear-gradient(48.33deg, #00DDFF 11.26%, #FF00D4 48.3%, #FBB040 85.34%); // AI chat Badge


// Add other customizations as needed
$font-sansation: 'Sensations', sans-serif;


@import "~bootstrap/scss/bootstrap";